<%= will_paginate @codes %>
<h1>Code Search</h1>

<%= form_for _search_path, method: :get do |f| %>
  <p>
    <%= f.label "Enter an ICD-10 code or description.." %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<ul>
  <% @codes.each do |code| %>
    <li>
      <h3>
        <%= link_to code.try(:highlight).try(:desc) ? code.highlight.desc[0].html_safe : code.desc,
        controller: "codes",
        action: "show",
        id: code.code_id%>
      </h3>
      <!-- <% if code.try(:highlight).try(:desc) %>
        <% code.highlight.desc.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p> -->
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
